torch
transformers
diffusers
torchvision==0.16.0
numpy==1.26.0
huggingface_hub==0.25.0
datasets
compressai
scikit-image
opencv-python
pycryptodome
accelerate
galois==0.4.1
ldpc==0.1.51
scipy
matplotlib
jupyter
